.container{
  display: flex;
  justify-content: space-around;
  &__box{
    margin-top: 22px;
    width: 40%;
    height: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px;
  }
}
